{% load browserid %}
{% load avatar_tags %}
          <li class="has-dropdown">
              <a href="#" class="current-user">
                {% avatar user 40 %}
                {% if user.first_name %}{{ user.first_name }}
                {% else %}
                Account
                {% endif %}
              </a>
            <ul class="dropdown">
              <li><label>Email Addresses</label></li>
              {% if my_addrs %}
              {% for addr in my_addrs %}
              <li>{{ addr.email_address }}</li>
              {% endfor %}
              {% endif %}
              <li><a href="/verify">Add another email address</a></li>
              <li class="divider"></li>
              {% if user.emailprofile.is_approved %}
              <li class="divider"></li>
              {% endif %}
              <li><label>Settings</label></li>
              <li><a href="{% url 'introduction_settings' %}">My Profile</a></li>
              <li><a href="{% url 'introduction_preferences' %}">Email Preferences</a></li>
              <li><a href="{% url "avatar_change" %}">Change your picture</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
            </li>
