{% extends 'partials/top_bar_base.html' %}
          {% block topbar_menus %}
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="primary-links left">
{% if user.is_staff %}
              <li><a href="/admin">Admin</a></li>
{% endif %}
{% if user.is_authenticated %}
<li><a href="{% url 'invitation_invite' %}">Invite Friends</a></li>
{% endif %}
            </ul>
            <ul class="right primary-links">
                {% comment %}
              <li><a href="{% url 'introduction_dashboard' %}"><img src="/images/icon-connection.png" width="32" height="32" alt="connection"></a></li>
              <li><a href="/settings"><img src="/images/icon-activity.png" width="32" height="32" alt="activity"></a></li>
              {% endcomment %}
{% if user.is_authenticated %}
{% include "partials/right_nav_logged_in.html" %}
{% endif %}
            </ul>
          </section>
          {% endblock %}
