{% extends "base.html" %}
{% block title %}Change your picture{% endblock %}
{% load avatar_tags %}

{% block content %}
<header>
    <div class="row">
        <div class="avatar">
            {% avatar user 200 %}
        </div>

    <div class="greetings">
        <h1>Hi {{ user.first_name|title }}!</h1>
        <h2 class="subheader">What do you look like?</h2>
    </div>
</div>
</header>
<div class="row">
    <div class="twelve columns">
    {% if not avatars %}
        <p>You do not yet have an avatar.  Please upload one now.</p>
    {% else %}
        <form method="POST" action="" class=custom>
            {% csrf_token %}
            {{ primary_avatar_form }}
            <input class="medium button radius" type="submit" value="Choose new Default" />
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
        <input type="file" name="avatar" value="Avatar Image" />
        <input type="submit" class="medium button radius" value="Upload New Image" />
    </form>
    </div>
</div>
{% endblock %}
