<div class="slider-parent">
  <!-- boundingBox -->
  <span class="yui3-widget yui3-sliderbase yui-slider">
      <!-- contentBox -->
      <span class="yui3-slider-content yui3-slider-x"><!-- or slider-y -->

          <!-- rail -->
          <span class="yui3-slider-rail">
              <span class="yui3-slider-rail-cap-left"></span><!-- or cap-top -->
              <span class="yui3-slider-rail-cap-right"></span><!-- or cap-bottom -->

              <!-- thumb -->
              <span class="yui3-slider-thumb">
                  <img class="yui3-slider-thumb-shadow">
                  <img class="yui3-slider-thumb-image">
              </span>
          </span>

      </span>
  </span>

</div>
