        <div class="introitem">
            <div class="row">
                <div class="connectors">
                    <h4>{{ object.introducee1 }} &amp; {{ object.introducee2 }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="introduction">
                    <div class="row">
                        <div class="details">
                            <p class="subject">{{ object.subject|truncatewords:5 }} <span class="date">{{ object.created|timesince }} ago</span></p>
                            <p class="body">{{ object.clean_message|truncatewords:10 }} <a href="/introductions/{{ object.pk }}">more</a></p>
                        </div>
                        <div class="feedback">
                            <div class="feedback-button">Request Feedback</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- end of intro item -->
