{% extends 'base.html' %}
{% block title %}Ask for Feedback{% endblock %}
{% block topbar %}
{% include "partials/top_bar_simple.html" %}
{% endblock %}

{% block content %}
<header>
    <div class="row">
        <h1><span>Make better intros</span>Invite them to help you make better intros</h1>
    </div>
</div>
</header>
<div class="row">
    <div class="small-9 columns small-centered">
<form method=POST>
{% csrf_token %}
            <div class="small-6 columns">
        <h4 class="subheader">Ask how it went!</h4>
    <p>We'll send this message to:</p>
    <p>{{ form.include_introducee1 }} {{ object.introducee1 }}<br />{{ form.include_introducee2 }} {{ object.introducee2 }}</p>
    {{ form.introducee2_message }}
    {{ form.introducee1_message }}
    <p> We'll include a personalized, private link for each to give feedback and an invitation to start tracking their own intros.</p>
    <p><input class="button medium radius" value="Request Feedback" type="submit"/></p>
            </div>
            <div class="small-6 columns">
                {% include "partials/_feedback_request_email_panel.html" %}
            </div>
</div>
</form>
</div>
{% endblock %}
