{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="four columns">
<ul class="pricing-table">
  <li class="title">Introductory</li>
  <li class="price">Free</li>
  <li class="description">Our basic plan is all about introductions and followup</li>
  <li class="bullet-item">Unlimited Introductions from 1 Email address</li>
  <li class="bullet-item">Unlimited Web Feedback</li>
  <li class="bullet-item">No Spam</li>
  <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
</ul>
</div>
<div class="four columns">
<ul class="pricing-table">
  <li class="title">Standard</li>
  <li class="price">$15.00</li>
  <li class="description">Our Standard plan is about tracking your impact</li>
  <li class="bullet-item">Unlimited introductions from <b>all</b> your Email addresses</li>
  <li class="bullet-item">Unlimited Web <b>and Email</b> Feedback</li>
  <li class="bullet-item">Our advanced tracking Dashboard</li>
  <li class="bullet-item">No Spam</li>
  <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
</ul>
</div>
<div class="four columns">
<ul class="pricing-table">
  <li class="title">Premium</li>
  <li class="price">$99.99</li>
  <li class="description">For teams and super connectors</li>
  <li class="bullet-item">Share your introductions with other members of your team.</li>
  <li class="bullet-item">5GB Storage</li>
  <li class="bullet-item">20 Users</li>
  <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
</ul>
</div>
</div>
{% endblock %}
