{% extends 'base.html' %}
{% load avatar_tags %}

{% block content %}
<div class="row">
    <div class="three columns ">
        {% avatar user 200 %}
    </div>
    <div class="nine columns">
<h1>{{ user.get_full_name }} - Settings</h1>
    </div>
</div>
<div class="row">
    <div class="nine columns centered panel">
    <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <div class="row">
        <div class="small-5 columns small-centered">
            <input class="medium button radius" type="submit" value="Update" />
        </div>
    </div>
    </form>
    </div>
</div>
{% endblock %}
