{% extends 'base.html' %}
{% load avatar_tags %}

{% block content %}
<header>
    <div class="row">
        <div class="avatar">
            {% avatar user 200 %}
        </div>
        <div class="greetings">
            <h1><span>{{ user.first_name }}'s Profile</span></h1>
        </div>
    </div>
</header>
<div class="row">
    <div class="nine columns centered panel">
    <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <div class="row">
        <div class="small-5 columns small-centered">
            <input class="medium button radius" type="submit" value="Update" />
        </div>
    </div>
    </form>
    </div>
</div>
{% endblock %}
